src/flows.json
[{"id":"c61da935.9e3778","type":"tab","label":"autoai","disabled":false,"info":""},{"id":"7c2a4505.fe036c","type":"tab","label":"automation","disabled":false,"info":""},{"id":"585240b2.1a2e5","type":"tab","label":"iot","disabled":false,"info":""},{"id":"249dbaa7.3c3f66","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"efa8bf09.b6952","type":"ui_tab","z":"","name":"Warehouse","icon":"dashboard","disabled":false,"hidden":false},{"id":"4e5e5070.7d621","type":"ui_group","z":"","name":"Food Item","tab":"efa8bf09.b6952","order":1,"disp":true,"width":"6","collapse":false},{"id":"b548a4c0.a960c8","type":"ui_group","z":"","name":"Counter","tab":"efa8bf09.b6952","order":2,"disp":true,"width":"6","collapse":false},{"id":"7de128fd.efd088","type":"ui_group","z":"","name":"Watson","tab":"efa8bf09.b6952","order":3,"disp":true,"width":"6","collapse":false},{"id":"971821dc.2d066","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"hienhm.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"704f1c93.a1cf44","type":"ui_tab","z":"","name":"Health","icon":"dashboard","disabled":false,"hidden":false},{"id":"97e17c62.d8cca","type":"ui_group","z":"","name":"Temperature","tab":"704f1c93.a1cf44","order":1,"disp":true,"width":"6","collapse":false},{"id":"2db1d25.bdd8d2e","type":"ui_group","z":"","name":"Humidity","tab":"704f1c93.a1cf44","order":2,"disp":true,"width":"6","collapse":false},{"id":"a56701b2.8e125","type":"ui_group","z":"","name":"Object Temperature","tab":"704f1c93.a1cf44","order":3,"disp":true,"width":"6","collapse":false},{"id":"5613912d.7bc94","type":"ui_spacer","name":"spacer","group":"b548a4c0.a960c8","order":3,"width":6,"height":1},{"id":"a6c3e4e9.ee2988","type":"ui_spacer","name":"spacer","group":"7de128fd.efd088","order":3,"width":6,"height":1},{"id":"899f08f3.146bd8","type":"ui_spacer","name":"spacer","group":"7de128fd.efd088","order":6,"width":6,"height":1},{"id":"c1cec03.1e95c4","type":"http request","z":"c61da935.9e3778","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":140,"wires":[["6e1b8348.c72b6c"]]},{"id":"6e1b8348.c72b6c","type":"function","z":"c61da935.9e3778","name":"Pre Prediction","func":"var Week = global.get(\"Week\")\nvar Center = global.get(\"Center\")\nvar Meal = global.get(\"Meal\")\nvar CheckoutPrice = global.get(\"CheckoutPrice\")\nvar BasePrice = global.get(\"BasePrice\")\nvar EmailPromotion = global.get(\"EmailPromotion\")\nvar HomepageFeature = global.get(\"HomepageFeature\")\n\nvar token=msg.payload.access_token\nvar instance_id=\"539da7e6-f6e6-4801-8fb3-9ae3e1cd4b38\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[Week,Center,Meal,CheckoutPrice,BasePrice,EmailPromotion,HomepageFeature]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":880,"y":140,"wires":[["2892c096.02aac"]]},{"id":"2892c096.02aac","type":"http request","z":"c61da935.9e3778","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/c3bcd08a-0c76-4b60-babe-6ed25346c482/predictions","tls":"","persist":false,"proxy":"","authType":"","x":1070,"y":140,"wires":[["d60266a8.778b48"]]},{"id":"d60266a8.778b48","type":"function","z":"c61da935.9e3778","name":"","func":"msg.payload=Math.round(msg.payload.predictions[0].values[0][0])\nglobal.set(\"output\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":140,"wires":[["aab621d8.d3cc7","31b210d6.30b0b","60115156.70c61"]]},{"id":"d9dfd159.a912","type":"function","z":"c61da935.9e3778","name":"","func":"global.set(\"Week\",msg.payload.WK)\nglobal.set(\"Center\",msg.payload.CT)\nglobal.set(\"Meal\",msg.payload.ML)\nglobal.set(\"CheckoutPrice\",msg.payload.CP)\nglobal.set(\"BasePrice\",msg.payload.BP)\nglobal.set(\"EmailPromotion\",msg.payload.EP)\nglobal.set(\"HomepageFeature\",msg.payload.HF)\nglobal.set(\"Array\", [])\nvar apikey=\"HdMRNsMndexbBhA2reaPBn2cSZYhRs3TpFDQ5vvj2EOJ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["c1cec03.1e95c4"]]},{"id":"a31cf5bf.adfc48","type":"ui_form","z":"c61da935.9e3778","name":"","label":"","group":"4e5e5070.7d621","order":1,"width":0,"height":0,"options":[{"label":"Week","value":"WK","type":"number","required":true,"rows":null},{"label":"Center","value":"CT","type":"number","required":true,"rows":null},{"label":"Meal","value":"ML","type":"number","required":true,"rows":null},{"label":"Checkout Price","value":"CP","type":"number","required":true,"rows":null},{"label":"Base Price","value":"BP","type":"number","required":true,"rows":null},{"label":"Email Promotion","value":"EP","type":"switch","required":true,"rows":null},{"label":"Homepage Feature","value":"HF","type":"switch","required":true,"rows":null}],"formValue":{"WK":"","CT":"","ML":"","CP":"","BP":"","EP":false,"HF":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":290,"y":80,"wires":[["d9dfd159.a912"]]},{"id":"aab621d8.d3cc7","type":"ui_text","z":"c61da935.9e3778","group":"4e5e5070.7d621","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1420,"y":80,"wires":[]},{"id":"d43d89ff.3a0be8","type":"ui_gauge","z":"c61da935.9e3778","name":"","group":"b548a4c0.a960c8","order":1,"width":0,"height":0,"gtype":"gage","title":"Actual Food Dispatched","label":"units","format":"{{value}}","min":"0","max":"24300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1690,"y":100,"wires":[]},{"id":"19b6919a.82bc5e","type":"ui_chart","z":"c61da935.9e3778","name":"","group":"b548a4c0.a960c8","order":4,"width":0,"height":0,"label":"Dipatch History","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"24300","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1820,"y":160,"wires":[[]]},{"id":"31b210d6.30b0b","type":"function","z":"c61da935.9e3778","name":"","func":"var rdnum = Math.floor((Math.random() * 10) + 1);\nmsg.payload += 6\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":140,"wires":[["d43d89ff.3a0be8","799eb4ec.91730c","bdf2f6e6.2e8978"]]},{"id":"799eb4ec.91730c","type":"function","z":"c61da935.9e3778","name":"","func":"var array = global.get(\"Array\");\narray += [msg.payload];\nmsg.payload = array;\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":160,"wires":[["19b6919a.82bc5e"]]},{"id":"2ac80bb4.da2b34","type":"ui_text","z":"c61da935.9e3778","group":"b548a4c0.a960c8","order":2,"width":0,"height":0,"name":"","label":"Checkout Time","format":"{{msg.payload}}","layout":"col-center","x":1820,"y":40,"wires":[]},{"id":"bdf2f6e6.2e8978","type":"function","z":"c61da935.9e3778","name":"","func":"var date = new Date(Date.now())\nmsg.payload = date.toDateString()\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":40,"wires":[["2ac80bb4.da2b34"]]},{"id":"6f256339.b0e22c","type":"watson-conversation-v1","z":"7c2a4505.fe036c","name":"Warehouse","workspaceid":"1e178e68-2c4f-4979-82b1-8017276bce1a","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":" https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/2ca66b95-b92d-4104-bc2c-19c6bd4772a1","timeout":"","optout-learning":false,"x":510,"y":320,"wires":[["3c1be70d.99ba78"]]},{"id":"3c1be70d.99ba78","type":"function","z":"7c2a4505.fe036c","name":"","func":"msg.payload = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":320,"wires":[["d0a2730d.48099","b4b7a215.32699","4fcf25e1.86114c","b04a4eed.e422","124b23dc.8a234c","4d6855df.856b7c","5c56ac07.8f9454","fabbb50e.f3fbe8","61376381.ddeb3c"]]},{"id":"384810d7.b532d","type":"ui_form","z":"7c2a4505.fe036c","name":"","label":"","group":"7de128fd.efd088","order":1,"width":0,"height":0,"options":[{"label":"You Say","value":"YS","type":"text","required":true,"rows":null}],"formValue":{"YS":""},"payload":"","submit":"send","cancel":"cancel","topic":"","x":190,"y":320,"wires":[["6e661ed4.fd703"]]},{"id":"6e661ed4.fd703","type":"function","z":"7c2a4505.fe036c","name":"","func":"msg.payload = msg.payload.YS\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["6f256339.b0e22c"]]},{"id":"d0a2730d.48099","type":"ui_text","z":"7c2a4505.fe036c","group":"7de128fd.efd088","order":4,"width":0,"height":0,"name":"","label":"Watson Says","format":"{{msg.payload}}","layout":"col-center","x":990,"y":500,"wires":[]},{"id":"b4b7a215.32699","type":"function","z":"7c2a4505.fe036c","name":"","func":"const li = msg.payload.split(\" \")\nvar sub = 3\nif (li[0] == \"week\") {\n    if (li[li.length - 1] === \"\") { sub += 1 }\n    global.set(\"pw_week\", msg.payload = li[(li.length - sub)])\n}\nmsg.payload = global.get(\"pw_week\")\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":200,"wires":[["526d5e6d.9f0d4"]]},{"id":"526d5e6d.9f0d4","type":"ui_text","z":"7c2a4505.fe036c","group":"7de128fd.efd088","order":8,"width":0,"height":0,"name":"","label":"Week","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":200,"wires":[]},{"id":"5d1ac978.237218","type":"ui_text","z":"7c2a4505.fe036c","group":"7de128fd.efd088","order":9,"width":0,"height":0,"name":"","label":"Center","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":260,"wires":[]},{"id":"4fcf25e1.86114c","type":"function","z":"7c2a4505.fe036c","name":"","func":"const li = msg.payload.split(\" \")\nvar sub = 3\nif (li[0] == \"center\") {\n    if (li[li.length - 1] === \"\") { sub += 1 }\n    global.set(\"pw_center\", msg.payload = li[(li.length - sub)])\n}\nmsg.payload = global.get(\"pw_center\")\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":260,"wires":[["5d1ac978.237218"]]},{"id":"b04a4eed.e422","type":"function","z":"7c2a4505.fe036c","name":"","func":"const li = msg.payload.split(\" \")\nvar sub = 3\nif (li[0] == \"checkout\") {\n    if (li[li.length - 1] === \"\") { sub += 1 }\n    global.set(\"pw_cp\", msg.payload = li[(li.length - sub)])\n}\nmsg.payload = global.get(\"pw_cp\")\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":140,"wires":[["453feca8.bcfc04"]]},{"id":"124b23dc.8a234c","type":"function","z":"7c2a4505.fe036c","name":"","func":"const li = msg.payload.split(\" \")\nvar sub = 3\nif (li[0] == \"base\") {\n    if (li[li.length - 1] === \"\") { sub += 1 }\n    global.set(\"pw_bp\", msg.payload = li[(li.length - sub)])\n}\nmsg.payload = global.get(\"pw_bp\")\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":320,"wires":[["9ed6c0a2.6f4b"]]},{"id":"4d6855df.856b7c","type":"function","z":"7c2a4505.fe036c","name":"","func":"const li = msg.payload.split(\" \")\nvar sub = 3\nif (li[0] == \"meal\") {\n    if (li[li.length - 1] === \"\") { sub += 1 }\n    global.set(\"pw_meal\", msg.payload = li[(li.length - sub)])\n}\nmsg.payload = global.get(\"pw_meal\")\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":80,"wires":[["8aee5b27.833ff8"]]},{"id":"5c56ac07.8f9454","type":"function","z":"7c2a4505.fe036c","name":"","func":"const li = msg.payload.split(\" \")\nvar sub = 3\nif (li[0] == \"email\") {\n    if (li[li.length - 1] === \"\") { sub += 1 }\n    global.set(\"pw_ep\", msg.payload = li[(li.length - sub)])\n}\nmsg.payload = global.get(\"pw_ep\")\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":380,"wires":[["fb6521de.bffba"]]},{"id":"453feca8.bcfc04","type":"ui_text","z":"7c2a4505.fe036c","group":"7de128fd.efd088","order":11,"width":0,"height":0,"name":"","label":"Checkout Price","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":140,"wires":[]},{"id":"8aee5b27.833ff8","type":"ui_text","z":"7c2a4505.fe036c","group":"7de128fd.efd088","order":10,"width":0,"height":0,"name":"","label":"Meal","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":80,"wires":[]},{"id":"9ed6c0a2.6f4b","type":"ui_text","z":"7c2a4505.fe036c","group":"7de128fd.efd088","order":12,"width":0,"height":0,"name":"","label":"Base Price","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":320,"wires":[]},{"id":"fb6521de.bffba","type":"ui_text","z":"7c2a4505.fe036c","group":"7de128fd.efd088","order":13,"width":0,"height":0,"name":"","label":"Email Promotion","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":380,"wires":[]},{"id":"86a9f1c6.ad9ac","type":"ui_text","z":"7c2a4505.fe036c","group":"7de128fd.efd088","order":14,"width":0,"height":0,"name":"","label":"Home Page Feature","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":440,"wires":[]},{"id":"fabbb50e.f3fbe8","type":"function","z":"7c2a4505.fe036c","name":"","func":"const li = msg.payload.split(\" \")\nvar sub = 3\nif (li[0] == \"homepage\") {\n    if (li[li.length - 1] === \"\") { sub += 1 }\n    global.set(\"pw_hf\", msg.payload = li[(li.length - sub)])\n}\nmsg.payload = global.get(\"pw_hf\")\nreturn msg","outputs":1,"noerr":0,"x":970,"y":440,"wires":[["86a9f1c6.ad9ac"]]},{"id":"ff83e972.a2b2e8","type":"ui_button","z":"c61da935.9e3778","name":"","group":"7de128fd.efd088","order":7,"width":0,"height":0,"passthru":false,"label":"Predict","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":140,"y":200,"wires":[["bf3038f4.68a068"]]},{"id":"bf3038f4.68a068","type":"function","z":"c61da935.9e3778","name":"","func":"msg.payload = {}\nmsg.payload.WK = Number(global.get(\"pw_week\"))\nmsg.payload.CT = Number(global.get(\"pw_center\"))\nmsg.payload.ML = Number(global.get(\"pw_meal\"))\nmsg.payload.CP = Number(global.get(\"pw_cp\"))\nmsg.payload.BP = Number(global.get(\"pw_bp\"))\nmsg.payload.EP = Number(global.get(\"pw_ep\"))\nmsg.payload.HF = Number(global.get(\"pw_hf\"))\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["d9dfd159.a912"]]},{"id":"d41542d4.1862f","type":"ibmiot in","z":"585240b2.1a2e5","authentication":"apiKey","apiKey":"971821dc.2d066","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"3434","applicationId":"","deviceType":"waremonitor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":260,"wires":[["9bf5d3a6.7889f","f16599be.c268e8","61352a4b.d122b4"]]},{"id":"9bf5d3a6.7889f","type":"function","z":"585240b2.1a2e5","name":"","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["d06a9c84.ab23c","e41703da.82cc4","b89b50f4.08143"]]},{"id":"f16599be.c268e8","type":"function","z":"585240b2.1a2e5","name":"","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["b83b9c3a.00e5f","f6baffe7.6a0c7","c2ee547e.cb6898"]]},{"id":"61352a4b.d122b4","type":"function","z":"585240b2.1a2e5","name":"","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["51205d3b.dbaa74","d02878d1.dfb298","6bdfb4bc.cc12fc"]]},{"id":"d06a9c84.ab23c","type":"ui_gauge","z":"585240b2.1a2e5","name":"","group":"97e17c62.d8cca","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"degree celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":120,"wires":[]},{"id":"b83b9c3a.00e5f","type":"ui_gauge","z":"585240b2.1a2e5","name":"","group":"2db1d25.bdd8d2e","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":260,"wires":[]},{"id":"51205d3b.dbaa74","type":"ui_gauge","z":"585240b2.1a2e5","name":"","group":"a56701b2.8e125","order":1,"width":0,"height":0,"gtype":"gage","title":"Object Temperature","label":"degree celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":420,"wires":[]},{"id":"f6baffe7.6a0c7","type":"ui_chart","z":"585240b2.1a2e5","name":"","group":"2db1d25.bdd8d2e","order":2,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":540,"y":220,"wires":[[]]},{"id":"d02878d1.dfb298","type":"ui_chart","z":"585240b2.1a2e5","name":"","group":"a56701b2.8e125","order":2,"width":0,"height":0,"label":"Object Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":380,"wires":[[]]},{"id":"e41703da.82cc4","type":"ui_chart","z":"585240b2.1a2e5","name":"","group":"97e17c62.d8cca","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":80,"wires":[[]]},{"id":"b89b50f4.08143","type":"function","z":"585240b2.1a2e5","name":"","func":"msg.payload = { \"val\": Number(msg.payload) }\nmsg.payload.warn = false\nmsg.payload.msg = \"Normal\"\nif (msg.payload.val >= 20) { \n    msg.payload.warn = true\n    msg.payload.msg = \"Perishable\"\n} \nreturn msg;","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["cd573f3e.4edc9","ef47c2d7.60acc"]]},{"id":"c2ee547e.cb6898","type":"function","z":"585240b2.1a2e5","name":"","func":"msg.payload = { \"val\": Number(msg.payload) }\nmsg.payload.warn = false\nmsg.payload.msg = \"Normal\"\nif (msg.payload.val >= 80) { \n    msg.payload.warn = true\n    msg.payload.msg = \"Perishable\"\n} \nreturn msg;","outputs":1,"noerr":0,"x":530,"y":300,"wires":[["65d18922.9b1c88","ef47c2d7.60acc"]]},{"id":"6bdfb4bc.cc12fc","type":"function","z":"585240b2.1a2e5","name":"","func":"msg.payload = { \"val\": Number(msg.payload) }\nmsg.payload.warn = false\nmsg.payload.msg = \"Normal\"\nif (msg.payload.val >= 50) { \n    msg.payload.warn = true\n    msg.payload.msg = \"Perishable\"\n} \nreturn msg;","outputs":1,"noerr":0,"x":530,"y":460,"wires":[["a92e2c03.a86e5","ef47c2d7.60acc"]]},{"id":"cd573f3e.4edc9","type":"ui_text","z":"585240b2.1a2e5","group":"97e17c62.d8cca","order":3,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload.msg}}","layout":"row-spread","x":670,"y":160,"wires":[]},{"id":"65d18922.9b1c88","type":"ui_text","z":"585240b2.1a2e5","group":"2db1d25.bdd8d2e","order":3,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload.msg}}","layout":"row-spread","x":670,"y":300,"wires":[]},{"id":"a92e2c03.a86e5","type":"ui_text","z":"585240b2.1a2e5","group":"a56701b2.8e125","order":3,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload.msg}}","layout":"row-spread","x":670,"y":460,"wires":[]},{"id":"ef47c2d7.60acc","type":"switch","z":"585240b2.1a2e5","name":"","property":"payload.warn","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":300,"wires":[["4e2e802.4cd518"]]},{"id":"7d686f5e.27c96","type":"ui_toast","z":"585240b2.1a2e5","position":"bottom right","displayTime":"1","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Perishable Environment","name":"","x":1210,"y":300,"wires":[]},{"id":"4e2e802.4cd518","type":"function","z":"585240b2.1a2e5","name":"","func":"msg.payload = \"Sensors have detected abnormal environment which may perish certain food items. Please take action!\"\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":300,"wires":[["7d686f5e.27c96"]]},{"id":"61376381.ddeb3c","type":"watson-text-to-speech","z":"7c2a4505.fe036c","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_KevinV3Voice","voicehidden":"en-US_KevinV3Voice","format":"audio/wav","password":"","apikey":"pChPCDgdCWasQHWW9NJA-GQ-k36NWobd4Z2VhTHWsnm0","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/701a66b6-8d37-4a19-b3bc-2443ed14cbff","x":1000,"y":560,"wires":[["6ebd64b1.26af7c"]]},{"id":"6ebd64b1.26af7c","type":"ui_audio","z":"7c2a4505.fe036c","name":"","group":"4e5e5070.7d621","voice":"en-IN","always":"","x":1180,"y":560,"wires":[]},{"id":"83082288.54fe4","type":"function","z":"7c2a4505.fe036c","name":"","func":"msg.payload = { YS: msg.payload }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":220,"wires":[["384810d7.b532d"]]},{"id":"dd3aea7.a762a18","type":"watson-speech-to-text","z":"7c2a4505.fe036c","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"6EjpieoCk_YcqD66NrMeA-8DVpb8PZFjpyJY3kwQBx3k","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/056bb6a8-bba3-49cb-86ac-9360a3e44078","x":270,"y":220,"wires":[["83082288.54fe4"]]},{"id":"60115156.70c61","type":"function","z":"c61da935.9e3778","name":"","func":"msg.payload = \"You should stock \" + msg.payload + \" of this food item to cater the demands\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":220,"wires":[["ea551698.4e00c8"]]},{"id":"ea551698.4e00c8","type":"watson-text-to-speech","z":"c61da935.9e3778","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_KevinV3Voice","voicehidden":"en-US_KevinV3Voice","format":"audio/wav","password":"","apikey":"pChPCDgdCWasQHWW9NJA-GQ-k36NWobd4Z2VhTHWsnm0","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/701a66b6-8d37-4a19-b3bc-2443ed14cbff","x":1680,"y":220,"wires":[["a69d0915.79d228"]]},{"id":"a69d0915.79d228","type":"ui_audio","z":"c61da935.9e3778","name":"","group":"4e5e5070.7d621","voice":"en-IN","always":"","x":1860,"y":220,"wires":[]},{"id":"93cb0749.e755b8","type":"microphone","z":"7c2a4505.fe036c","name":"Speak","x":110,"y":220,"wires":[["dd3aea7.a762a18"]]}]
